<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<bean id="id1" class="com.spring.MyImplClass" />
	<bean id="id2" class="com.spring.MyBeforeAdvice" />
	<bean id="id3" class="com.spring.MyAfterAdvice" />
	<bean id="id4" class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="proxyInterfaces" value="com.spring.MyInterFace" />
		<property name="interceptorNames">
			<list>
				<value>id2</value>
				<value>id3</value>
			</list>
		</property>
		<property name="target">
			<ref bean="id1" />
		</property>

	</bean>
</beans>